# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
build
Log*
.apdisk
*.asv
*.csv
*.opensdf
*.tlog
*.log
*.obj
*.vsp
*.vspx
*.exe
*.pdb
*.dll
*.ilk
*.lib
*.sdf
*.lastbuildstate
*.idb
*.opensdf
*.manifest
*.mkv
*.mp4
*.avi
*.psess
*.suo
*.suo
*.sdf
*.cfg
*.jpg
*.png
PatternDetectiveTCMallocCompletelyParallel/PatternDetective/My Amplifier XE Results - PatternDetective/My Amplifier XE Results - PatternDetective.amplxeproj
*.norun
*.inspxe
*.db3
*.data
*.o
